<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DisappearingDiscs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B05C98C1CCA556A00CB89EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B05C9A41CCA556A00CB89EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B05C9AF1CCA556A00CB89EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
